@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
}

article {

    @apply text-lg;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
        @apply mb-4;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold mt-8;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    h5 {
        @apply text-xl;
    }

    h6 {
        @apply text-lg;
    }

    ul,
    ol {
        @apply ml-6;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }
}